#main-doc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "b a a"
        "b c c";
}

#banner {
    grid-area: a;
}

#navbar {
    display: grid;
    grid-area: b;
}

#main-section {
    display: grid;
    grid-area: c;
}

#banner-title {
    background: url(https://www.sbs.com.au/food/sites/sbs.com.au.food/files/styles/full/public/basic-sourdough-loaf-1.jpg?itok=WToKtNKY);
    height: 300px;
    width:100%;
    background-repeat: no-repeat;
}

#nav-header {
    display: grid;
    grid-template-columns: 1fr;
}